.container {
    border: 2px solid green;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.item {
    box-sizing: border-box;
    border: 2px solid green;
    width: 100px;
    height: 100px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goblin {
    width: 90px;
    height: 90px;
}